.dish-title {
  text-align: center;
  font-weight: bold;
  margin: 0.5rem 0;
}

.dish-price {
  font-size: 0.7rem;
  background-color: yellow;
  max-width: fit-content;
  padding: 5px;
  margin: 0 0 1rem 0;
}
.dishes {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 1rem 0;
  padding: 10px;
}
.poster {
  width: 250px;
  height: 250px;
}

#cart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2rem 0;
}

.delete-btn {
  padding: 10px 15px;
  margin: 0 0 1rem 0;
  background-color: red;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: white;
  color: red;
  border: 2px solid;
}

#checkout {
  margin: -2rem 0;
  padding: 10px 15px;
  margin: 0 0 1rem 0;
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#checkout:hover {
  background-color: white;
  color: black;
  border: 2px solid;
}
